:root {
    --paragraf-text-color: #434455;
    --accent-color: #FFFFFF;
    --accent-focus: #4D5AE5;
    --tittle-body-color: #2E2F42;
    --button-color: #F4F4FD;
    --logo-accent: #000000;
    --second-color: #E7E9FC;
}

.body {
    background-color: var(--accent-color);
    color: var(--tittle-body-color);
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.hero-button {
    color: var(--accent-color);
    background: var(--accent-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
}

.hero {

    background: var(--tittle-body-color);
}

.hero-h {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    ;
}

.logo {
    color: var(--logo-accent);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    font-family: 'Raleway'
}

.logo:hover,
.logo:focus {
    color: var(--accent-focus);
}

.log {
    color: var(--accent-focus);
}

.logo-f {
    color: var(--logo-accent);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo-f:active {
    color: var(--accent-focus)
}

.contakt-link {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-text-color);
}

.contakt-nav:hover,
.contakt-nav:focus,
.contakt-nav.current {
    color: var(--accent-focus);
}

.contakt-link:hover,
.contakt-link:focus,
.contakt-link:active {
    color: var(--accent-focus);
}

.contakt-nav link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--tittle-body-color);
}

a {
    text-decoration: none;
    list-style: none;
}

ul {
    ext-decoration: none;
    list-style: none;
}

.site-button {
    background: var(--button-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    color: var(--accent-focus);
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    font-family: inherit;
}

.site-button:hover,
.site-button:focus {
    color: var(--button-color);

    background-color: var(--accent-focus);
}

.site-button:active {
    background-color: var(--accent-focus);
    color: var(--accent-color);
}

.title {

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--tittle-body-color);

}

.title-p {

    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
}

.paragraf {

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--paragraf-text-color);
}

.footer {
    background-color: var(--tittle-body-color);
}

.logo-f {

    color: var(--button-color);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo-f:hover,
.logo-f:focus {

    color: var(--accent-focus);
}

.footer-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-color);
}