:root {
    --paragraf-text-color: #434455;
    --accent-color: #FFFFFF;
    --accent-focus: #4D5AE5;
}



.hero-button {
    color: var(--accent-color);
    background: var(--accent-focus);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;


}

.hero {

    background: #2E2F42;
}

.hero-h {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    ;
}

.body {
    background-color: var(--accent-color);
    ;
    color: #2E2F42;
    font-family: 'Roboto SemiBold', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.logo {
    color:
        #000000;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo:hover,
.logo:focus {
    color: var(--accent-focus);
}

.log {
    color: var(--accent-focus);
}

.logo-f {
    color:
        #000000;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo-f:active {
    color: var(--accent-focus)
}

.link {
    text-decoration: none;
    list-style: none;
    font-style: normal;

}

.contakt-link {
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--paragraf-text-color);
}

.contakt-nav:hover,
.contakt-nav:focus,
.contakt-nav.current {
    color: var(--accent-focus);
}

.contakt-link:hover,
.contakt-link:focus,
.contakt-link:active {
    color: var(--accent-focus);
}

.contakt-nav link {

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

ul {
    list-style: none;
}


.site-button {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--accent-focus);
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.site-button:hover,
.site-button:focus {
    color: #F4F4FD;
    background-color: var(--accent-focus);
}

.site-button:active {
    background-color: var(--accent-focus);
    color: var(--accent-color);
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    color: #2E2F42;
    font-style: normal;
}

.title-p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
}

.paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--paragraf-text-color);
}

.footer {
    background-color: #2E2F42;
    position: absolute;

}

.logo-f {
    text-decoration: none;
    list-style: none;
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo-f:hover,
.logo-f:focus {

    color: var(--accent-focus);
}

.footer-par {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}