:root {
    --accent-color: #404BBF;
}

.hero-button {
    color: #FFFFFF;
    position: absolute;
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;

    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;


}

.hero {
    width: 1440px;
    height: 603px;
    left: 0px;
    top: 72px;
    background: #2E2F42;
}

.hero-h {
    font-family: 'Roboto' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.body {
    background-color: #FFFFFF;
    color: #2E2F42;
    font-family: 'Roboto SemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}



.logo {
    color:
        #000000;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo:hover,
.logo:focus {
    color: #4D5AE5;
}

.log {
    color: #4D5AE5;
}

.logo-f {
    color:
        #000000;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo-f:active {
    color: #4D5AE5
}

.link {
    text-decoration: none;
    list-style: none;
    font-style: normal;

}

.contakt-link {
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.contakt-link:hover,
.contakt-nav:focus {

    color: #4D5AE5;
}

.contakt-nav {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #2E2F42;

}

ul {
    list-style: none;
}

.contakt-nav:hover,
.contakt-nav:focus,
.contakt-nav:active {
    color: var(--accent-color);
}

.contakt:hover,
.contakt:focus {
    color: var(--accent-color);
}



.site-button {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
    cursor: pointer;
}

.site-button:hover,
.site-button:focus {
    color: #F4F4FD;
    background-color: #4D5AE5;
}

.site-button:active {
    background-color: #4D5AE5;
    color: #FFFFFF;
}

.title {
    font-family: 'Roboto', sans-serif;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
}

.paragraf {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
    position: absolute;

}

.logo-f {
    text-decoration: none;
    list-style: none;
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
}

.logo-f:hover,
.logo-f:focus {

    color: #4D5AE5;
}

.footer-par {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}